.sidebar-slider {
  top: 10%;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  transform: translateX(-100%);
  transition: ease-in-out 300ms transform;
  height: 35.8rem;
  padding: 0;
}

.sidebar-slider.sidebar-slide-in {
  transform: translateX(0%);
  transition: ease-in-out 600ms transform;
}

.sidebar-content {
  background-color: white;
  border-left: 1px solid lightgray;
  font-size: 16px;
  height: 100%;
}

.empty-properties-card {
  border: 1px dashed #3e525b;
  margin: 1rem;
  padding: 1rem;
}
